.button {
  position: relative;
  display: inline-block;
  // width: 210px;
  // width: 100%;
  // padding: 14px 25px;
  padding: 14px 35px;

  // font-size: 16px;
  font-weight: bold;
  color: #025BB1;
  line-height: 125%;
  text-align: center;

  border: 2px solid #025BB1;
  border-radius: 15px;
  background-color: #fff;

  cursor: pointer;
  box-sizing: border-box;

  &:hover {
    opacity: 0.7;
  }

  &--fill {
    color: #fff;
    background-color: #025BB1;
  }

  &--noborder {
    width: auto;
    border: none;
    padding: 20px 0 0;
    margin-bottom: 20px;
  }

  &--remind {
    width: 46px;
    height: 46px;
    padding: 0;

    font-size: 0;
    background: url("../images/icon-remind.svg") no-repeat center / 25px;
  }

  &--basket {
    width: 100%;
    padding: 19px 80px 19px 20px;
    // margin-bottom: 10px;

    font-size: 16px;
    line-height: 22px;
    color: #fff;
    background-color: rgba(2, 91, 177, 0.9);
    border: none;

    &:after {
      content: "";
      
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: inline-block;
      width: 60px;
      height: 100%;

      border-radius: 12px;
      background: #025BB1 url("../images/icon-basket.svg") no-repeat 40% center;
    }

    &.added {
      color: #025BB1;
      background: #fff;
      border: 2px solid #025BB1;

      &:after {
        background: transparent url("../images/icon-basket-check.svg") no-repeat center;
      }
    }
  }

  &--one-click {
    padding: 19px;
    font-size: 16px;
    line-height: 18px;
  }
}


@media (max-width: 425px) {
  .button {
    &--basket {
    }

    &--remind {
      background-size: 25px;
    }

    &--basket-big {
      padding: 19px 60px 19px 56px;
      font-size: 14px;
    }
  }
}