.compare {
  &__top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__count {
    color: #103861;
  }

  &-area {
    display: flex;
    flex-direction: column;
    position: relative;

    .compare-button {
      background: #FFFFFF;
      border: 1px solid #DAE1E7;
      box-sizing: border-box;
      border-radius: 1000px;
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
        opacity: .5;
      }

      @media screen and (max-width: 1315px) {
        display: none;
      }
    }


    .compare-button__wrapper_back {
      left: -75px;
    }

    .compare-button__wrapper_next {
      right: -75px;
    }

    .compare-button__wrapper_back,
    .compare-button__wrapper_next {
      position: absolute;
      top: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }


    .compare-button_back,
    .compare-button_next {
      position: sticky;
      top: 160px;

      svg {
        margin-left: 3px;
        pointer-events: none;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    .compare-button_next {
    }
    .compare-button_back {
      transform: rotate(180deg);
    }

    .compare-pin {
      display: block;
    }

    &__wrapper {
      //overflow: hidden;
      padding: 20px;
      margin: 0 -20px;
      clip-path: inset(0);
      clip: rect(0px, auto, auto, 0px);

      @media screen and (max-width: 768px){
        padding: 0;
        margin: 0;
      }
    }

    .pan &__row,
    .pan &__item_pinned,
    .pan .compare-area__item_pinned,
    .pan &__section-row__wrapper,
    .pan &__section-row__wrapper .compare-area__item{
      transition: 0s !important;
    }

    &__row {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      transition: .7s;

      height: 500px;

      z-index: 5;

      @media screen and (max-width: 768px) {
        height: 420px;
      }
    }

    &__item {
      width: 270px;
      margin: 0;
      flex-grow: 0;
      flex-shrink: 0;
      transition: .7s;

      &_pinned {
        z-index: 5;
      }

      &:not(&:last-child) {
        margin-right: 30px;

        @media screen and (max-width: 768px){
          margin-right: 15px;
        }
      }
      &:hover,
      &:hover .product-item__bottom {
        box-shadow: unset;
      }

      @media screen and (max-width: 768px){
        width: calc(50vw - 7.5px - 30px / 2);
      }
    }

    .small {
      overflow: unset;
      position: sticky;
      top: -250px;
      z-index: 100;
    }

    .small &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: sticky;
      top: 127px;
      height: 125px;
      box-shadow: 0 4px 12px -10px #020202;

      .user-nav {
        flex-direction: column;
        position: static;
        gap: 5px;
        align-self: unset;
        padding-left: 10px;

        .user-link--fav {
          display: none;
        }
      }

      .product-item__img {
        padding: 5px 0;
      }
      .product-item__inner {
        padding: 5px 10px;

        .product-color,
        .product-bonus-wrapper,
        .product-item__bottom,
        .product-rating,
        .product-votes {
          display: none;
        }
      }

      .product-item__title {
        font-size: 12px;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }

    .sections-container {
      margin-top: 60px;
    }

    &__section {
      margin: 15px 0;
      transition: .7s;
      position: relative;

      &:not(&:first-child){
        margin-top: 60px;

        @media screen and (max-width: 768px){
          margin-top: 30px;
        }
      }

      @media screen and (max-width: 768px){
        width: 15px;
      }

      &__title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 165%;
        margin-bottom: 10px;
        width: 100vw;

        @media screen and (max-width: 768px){
          font-size: 16px;
        }
      }

      &-row {
        position: relative;
        padding: 0 20px 0 20px;
        margin: 0 -20px 0 -20px;
        height: auto;
        top: 0;

        @media screen and (max-width: 768px){
          font-size: 14px;
          padding: 0;
          margin: 0;
          width: calc(100vw - 40px);
        }

        &__wrapper {
          display: flex;
          flex-direction: row;
          transition: .7s;
        }

        &__title {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 165%;
          opacity: 0.8;
          position: absolute;
          top: 10px;
          left: 20px;
          width: 100vw;

          @media screen and (max-width: 768px){
            font-size: 14px;
          }

          &:before {
            content: "";
            position: absolute;
            top: 9px;
            left: -11px;
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #025bb1;
            border-radius: 50%;
          }
        }

        &:nth-child(even) {
          background: rgba(0, 0, 0, 0.02);
          border-radius: 10px;
          min-height: 77px;
        }

        .compare-area__item {
          padding: 41px 0 10px 0;
          width: 285px;
          flex-grow: 0;
          flex-shrink: 0;
          margin-right: 15px !important;
          //transition: .7s;

          &_pinned {
            z-index: 5;
          }

          &__content {
            max-width: 270px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 165%;
            color: #000000;
            opacity: 0.8;

            @media screen and (max-width: 768px){
              font-size: 14px;
              padding-left: 10px;
              max-width: calc(50vw - 120px);
            }
          }

          @media screen and (max-width: 768px){
            width: calc(50vw - 7.5px - 30px / 2);
          }
        }
      }
    }
  }
}

.checkbox {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;

  input[type="checkbox"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.checkbox-btn {
  position: relative;

  display: inline-block;
  padding-left: 27px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 17px;
    height: 17px;

    background: #FFFFFF;
    border: 2px solid #DAE1E7;
    border-radius: 2px;
    box-sizing: border-box;
  }
}

.checkbox input[type="checkbox"]:checked + .checkbox-btn:before {
  background: #025BB1 url("../images/icon-checkbox.svg") no-repeat center;
  border: none;
}

.compare-table {
  position: relative;
  margin: 0 -15px;
  border-collapse: collapse;
  border: 1px solid #fff;

  .product-item {
    width: calc(100% - 30px);
    // width: 100%;
    margin: 0 15px;
  }

  td {
    padding: 10px 20px;
    line-height: 165%;
    opacity: 0.8;

    border-right: 1px solid #DAE1E7;

    &:last-child {
      border: none;
    }
  }

  tr:first-child {
    td {
      position: relative;
      padding: 0;

      background-color: #fff;
      border: none;
      z-index: 2;
    }
  }

  tr:nth-child(even) {
    background: rgba(#000000, 0.02);
    border-radius: 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 165%;

    background-color: #fff !important;

    td {
      padding-top: 40px;
      border: none;
    }
  }

  &__parameter {
    position: relative;
    padding: 0 0 5px 0;

    font-weight: bold;
    font-size: 16px;
    line-height: 125%;
    color: rgba(#000, 0.8);

    opacity: 0;

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: -13px;

      display: inline-block;
      width: 6px;
      height: 6px;

      background: #025BB1;
      border-radius: 50%;
    }
  }

  td:first-child .compare-table__parameter {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .compare__count {
    display: none;
  }

  .compare-table {
    margin: 0;

    // overflow: hidden;
    overflow-x: scroll;

    tr {
    }

    td {
      padding: 10px;
      min-width: 146px;
      max-width: 146px;
    }

    tr:first-child {
      td {
        border: 1px solid #DAE1E7;
        border-left: none;
      }
    }

    .product-item {
      width: 100%;
      margin: 0;
      border: none;

      .product-rating,
      .product-votes,
      .product-color,
      .product-bonus-wrapper,
      .user-nav,
      .button {
        display: none;
      }

      &__inner {
        padding-bottom: 20px;
      }

      &__price {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;

        opacity: 0.5;
      }
    }

    &__title td {
      padding-top: 20px;
      font-size: 18px;
    }

    &__parameter {
      font-weight: 500;
      font-size: 9px;
      line-height: 11px;

      color: rgba(#000, 0.5);
      opacity: 1;

      &:before {
        left: -7px;
        width: 4px;
        height: 4px;
      }
    }
  }
}