.menu {
  position: relative;
  background: linear-gradient(90deg, #74CA5E 0%, 
                                      #74CA5E 20%, 
                                      #025BB1 20%, 
                                      #025BB1 100%);
  transform: translateY(-1px);
  z-index: 2;

  &__inner {
    position: relative;
    display: flex;
    width: 100%;
  }

  &__btn {
    width: 125px;
    padding: 10px 20px 10px 40px;

    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #fff;

    background-color: #74CA5E;
    // background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: 0px center;
    cursor: pointer;
  }

  &__btn-line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    display: block;
    width: 30px;
    height: 2px;
    margin: auto 0;
    background-color: #fff;
    pointer-events: none;

    &:before, &:after {
      content: "";

      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:before {
      margin: -9px 0 7px 0;
    }

    &:after {
      margin: 16px 0 0 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // height: 52px;

    list-style: none;

    li a {
      position: relative;
      display: flex;
      align-items: center;
      
      // width: 100%;
      padding: 10px 20px;
      
      font-weight: 500;
      font-size: 13px;
      line-height: 1.2;
      color: #fff;
      border-right: 1px solid #DAE1E7;
      background-color: #025BB1;

      // &:hover {
      //   color: rgba(#fff, 0.5);
      // }
    }

    li a svg {
      margin-right: 10px;
      flex-shrink: 0;
    }

    li:last-child a {
      border-right: none;
      padding-right: 0;
    }

    >li:nth-child(1) {
      max-width: 162px;
    }

    >li:nth-child(3) {
      max-width: 130px;
    }
  }

  &__cat {
    position: relative;
    cursor: pointer;
  }

  &__cat-list {
    display: none;

    position: absolute;

    width: 100%;
    padding-bottom: 10px;

    background: #025BB1;
    border-radius: 0 0 15px 15px;
    overflow: hidden;

    transition: 0.5s;
  }

  &__cat:hover &__cat-list {
    display: block;
  }
}


.full-menu-wrapper {
  position: relative;
}

.full-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: -1;

  &--open {
    display: block;
  }

  &__inner {
    position: relative;
    display: flex;
    height: 424px;
    transition: 0.5s;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 269px;
    padding: 20px 0 20px 10px;

    border: 1px solid #DAE1E7;
    border-top: 0;
    border-bottom-left-radius: 30px;
    list-style: none;
    background: #fff;


    >li>a {
      position: relative;
      display: flex;
      align-items: center;

      width: inherit;
      height: 52px;
      padding: 10px 63px 10px 63px;
      margin-bottom: 10px;

      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      font-size: 13px;
      font-weight: 500;
      color: #000;
      transition: 0.3s;
    }

    li a svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 73px;
      margin: auto 0;
    }

    li a svg path {
      fill: #025BB1;
    }
  }

  &__sublist-wrapper {
    display: none;

    position: absolute;
    top: 0;
    left: 269px;
    right: 0;

    flex-grow: 1;
    min-height: 424px;
  }

  &__sublist {
    display: flex;
    flex-flow: wrap row;
    min-height: 424px;
    padding: 30px 10px 0px 30px;

    background: #FCFCFD;
    border-right: 1px solid #DAE1E7;
    border-bottom: 1px solid #DAE1E7;
    border-bottom-right-radius: 40px;
    list-style: none;

    >li {
      width: 100%;
      max-width: 195px;
      margin-bottom: 20px;
      margin-right: 20px;

      font-weight: bold;
      font-size: 14px;
      line-height: 17px;

      color: #025BB1;
    }

    li ul {
      margin: 10px 0 0;
      list-style: none;
    }

    li ul li {
      margin-bottom: 8px;

      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #000000;
      opacity: 0.8;

      &:last-child {
        color: #025BB1;
      }
    }
  }

  .full-menu__list li:hover .full-menu__sublist-wrapper {
    display: block;
  }

  .site-nav {
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu__btn {
    font-size: 0;
    background-position: center;
  }

  .menu__list li {
    font-size: 0px;
  }

  .menu__list li a svg {
    display: none;
  }
}

@media (min-width: 769px) {

  .full-menu {

    &__list {

      >li>a:hover {
        color: #fff;
        background: #025BB1;
        transition: 0.3s;
      }

      li a:hover svg path {
        fill: #fff;
        transition: 0.3s;
      }
    }
  }
}

@media (min-width: 425px) {
  .menu__nav {
    display: none;
  }
}

@media (max-width: 768px) {

  .menu {

    background: transparent;
    z-index: -1;
    
    .container {
      padding: 0;
    }

    &__btn {
      padding-left: 49px;
      height: 52px;

      font-weight: bold;
      font-size: 12px;
      background-color: #74CA5E;
      // background-image: url("../images/icon-menu.svg");
      background-position: 25px center;
    }

    .menu__btn-line {
      left: 25px;
      width: 19px;

      &:before {
        margin: -7px 0 5px 0;
      }

      &:after {
        margin: 12px 0 0 0;
      }
    }

    &__list {
      display: none;
    }
  }

  .menu__nav {
    position: absolute;
    right: 0;

    display: block;
    width: 60px;
    height: 52px;

    font-size: 0;
    border: none;
    border-left: 1px solid #DAE1E7;
    border-bottom: 1px solid #DAE1E7;
    background-color: #fff;

    svg path {
      fill: #025BB1;;
    }
  }

  .full-menu {
    padding: 0;

    &__inner {
      height: 100%;
      justify-content: flex-end;
    }

    &__list {
      width: 100%;
      padding: 10px 0;
      background: #FCFCFD;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      overflow: scroll;
    }

    &__list > li > a {
      padding-left: 83px;
      padding: 20px 20px 20px 83px;
      // padding: 6px 6px 6px 83px;
      margin-bottom: 0;
      font-size: 14px;
      
      svg {
        left: 25px;
        width: 43px;
      }
    }

    &__list > li > a.active,
    &__sublist > li > a.active {
      position: relative;

      display: block;
      padding: 20px 20px 20px 55px;
      margin-bottom: 0;

      font-size: 16px;
      font-weight: 500;
      color: #000;

      svg {
        display: none;
      }
    }

    &__sublist > li > a.active {
      margin-top: -10px;
    }

    &__list > li > a.active:before,
    &__list ul > li > a.active:before, {
      position: absolute;
      left: 25px;
      top: 0;
      bottom: 0;
      content: "";

      display: block;
      width: 20px;
      height: 20px;
      margin: auto;

      background: #FFFFFF url("../images/icon-arrow-prev.svg") no-repeat 45% 50% / 5px;
      border: 1px solid #DAE1E7;
      border-radius: 50%;
    }

    &__sublist-wrapper {
      position: static;
      display: block;

      height: 0;
      min-height: 0;
      overflow: hidden;
      transition: 0.5s;
      z-index: 11;
    }

    &__list a.active + .full-menu__sublist-wrapper,
    &__sublist a.active + ul 
    {
      height: auto;
      border-top: 1px solid #DAE1E7;
    }

    &__sublist a.active + ul {
      padding-top: 15px;
    }

    &__sublist {
      flex-flow: nowrap column;
      padding: 10px 0;

      background-color: transparent;
      border: none;
      overflow-y: scroll;
    }

    &__sublist li {
      max-width: 100%;
      margin-bottom: 0px;
    }

    &__sublist li a {
      display: block;
      padding: 10px 10px 10px 55px;
    }

    &__sublist li ul {
      height: 0;
      margin: 0;

      overflow: hidden;
      transition: 0.5s;
    }

    &__sublist li ul li {
      margin-bottom: 0;
    }
  }
}


@media (max-width: 425px) {

  .full-menu-wrapper {
    // height: 100%;
  }

  .full-menu {
    // position: fixed;
    // top: 112px;
    // bottom: 0;

    // height: calc(100% - 112px);

    height: 600px;
  }

  .full-menu__inner {
    height: 100%;
    // height: 600px;
    overflow: scroll;
  }
  .full-menu__list {
    border: none;
  }
}