.order {
  &__top-line {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn-cart {
    position: relative;
    padding: 0 0 0 30px;
    font-weight: 500;
    color: #103861;

    border: none;
    background-color: transparent;
    cursor: pointer;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;
      width: 20px;
      height: 20px;

      border-radius: 50%;
      border: 1px solid #DAE1E7;
      background-image: url("../images/icon-arrow-filter.svg");
      background-position: bottom 6px center;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }

  &__btn-cart.open:before {
    transform: rotate(0deg);
  }
}

.order-step-list {
  padding: 30px 0 0 15px;
  border-top: 1px solid #DAE1E7;
  counter-reset: myCounter;
  list-style: none;
}

.order-step {
  position: relative;
  display: block;

  padding: 0 0 60px 24px;
  border-left: 1px solid #DAE1E7;

  &:last-child {
    padding-bottom: 0;
  }

  &:before {
    counter-increment: myCounter;
    content: counter(myCounter, decimal);
    position: absolute;
    top: 0;
    left: -15px;

    display: inline-block;
    width: 29px;
    height: 29px;

    font-weight: 600;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    color: #103861;

    border-radius: 50%;
    border: 1px solid #DAE1E7;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 24px;
    color: #103861;
  }

  .button {
    margin-top: 12px;
  }
}

.order-tabs {
  display: flex;
  margin: 0 -5px;
}

.order-tab {
  display: inline-block;
  margin: 8px 5px;
  cursor: pointer;

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  &__btn {
    display: inline-block;
    padding: 10px 15px;

    font-weight: 500;
    font-size: 13px;

    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #DAE1E7;
  }

  input:checked + &__btn {
    background: #DAE1E7;
  }
}

.tabs-method {
  .order-tab {
    width: 100%;
  }

  .order-tab__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90px;
    padding: 24px 30px;

    font-weight: bold;
    font-size: 24px;

    background: #FCFCFD;
    border-radius: 15px;
  }

  input:checked + .order-tab__btn {
    border: 1px solid #025BB1;
    box-shadow: 0px 0px 0px 1px #025BB1 inset;
    background: #FCFCFD;
  }
}

.order-fields {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.order-field {
  position: relative;
  flex-grow: 1;
  display: inline-block;
  margin: 8px 6px;

  // &:last-child {
  //   margin-right: 0;
  // }

  .input {
    width: 100%;
    padding: 48px 20px 20px;
    margin-bottom: 0;

    border-radius: 15px;
  }

  .input.input-empty {
    padding: 34px 20px;
  }

  // .input:valid {
  //   padding: 48px 20px 20px;
  // }

  .input-label {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 0;

    color: rgba(#000, 0.5);
    pointer-events: none;
    transition: 0.5s;
  }

  // .input:valid + .input-label {
  //   top: 18px;
  //   color: rgba(#000, 0.5);
  // }

  .input-empty + .input-label {
    top: 34px;
    color: rgba(#000, 0);
  }

  .input-icon {
    display: block;
  }
}

.order-field-100 {
  width: 100%;
}

.input:required ~ .input-icon:before {
  position: absolute;
  top: 36px;
  right: 20px;

  content: "*";
  font-size: 23px;
  color: #025BB1;
}

.input-select {
  cursor: pointer;

  &:required ~ .input-icon:before {
    right: 56px;
  }

  & ~ .input-icon:after {
    position: absolute;
    top: 44px;
    right: 20px;

    content: "";
    width: 17px;
    height: 8px;
    background: url("../images/icon-arrow-filter.svg") no-repeat center / contain;
    transform: translateY(-50%) rotate(180deg);
  }
}

.field-pickup {

  .input.select-pickup {
    color: rgba(#000,0);
  }
}

.select-pickup-address {
  position: relative;
  top: -45px;
  width: 100%;
  padding-bottom: 10px;
  margin: 0 6px;

  background: #FCFCFD;
  border: 1px solid #DAE1E7;
  border-top: none;
  border-radius: 0 0 15px 15px;

  .pickup__button {
    margin-left: 20px;
    width: auto;
  }
}

.order-agree {
  display: inline-block;
  max-width: 386px;
  margin-left: 30px;

  font-weight: 500;
  font-size: 13px;
  line-height: 145%;
  vertical-align: middle;

  a {
    color: #025BB1;
    vertical-align: top;
  }
}

.order-confirm {
  margin-top: 40px;

  .button {
    padding: 17px 61px;
  }
}

.order-total {
  display: block;
  padding: 30px;
  margin-bottom: 30px;

  background: #FFFFFF;
  border: 1px solid #DAE1E7;
  border-radius: 15px;

  &__title {
    padding-bottom: 30px;
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 36px;
    color: #103861;
    border-bottom: 1px solid #DAE1E7;
  }

  &__products-summ,
  &__pickup-summ  {
    margin-bottom: 5px;
    display: flex;
    font-weight: 500;

    .value {
      margin-left: auto;
      text-align: right;
      opacity: 0.7;
    }
  }

  &__total-summ {
    display: flex;
    margin-top: 10px;
    font-weight: bold;

    .value {
      margin-left: auto;
      text-align: right;
      opacity: 0.7;
    }
  }

  &__number {
    margin-bottom: 10px;
    font-size: 36px;
  }

  &__text {
    max-width: 466px;
    opacity: 0.7;
  }

  &__table {
    font-size: 18px;

    th {
      width: 220px;
      padding: 0 30px 20px 0;

      font-weight: bold;
      text-align: left;
      vertical-align: top;
    }

    td {
      padding-bottom: 20px;
      line-height: 145%;
      vertical-align: top;
      color: rgba(#000, 0.7);
    }

    tr:last-child th,
    tr:last-child td {
      padding-bottom: 0;
    }
  }

  .pickup__button {
    width: auto;
    margin-left: 220px;

    &:hover {
      box-shadow: none;
      border-color: #DAE1E7;
    }
  }
}

.order-step {
  .order-total {
    width: 287px;
    padding: 20px;
    margin: 12px 0 0;

    &__title {
      padding-bottom: 10px;
      margin-bottom: 10px;

      font-size: 18px;
    }
  }
}


@media (max-width: 768px) {
  .order {
    &__top-line {
      flex-wrap: wrap;
    }

    &__btn-cart {
      margin-bottom: 15px;
    }

    .title {
      font-size: 30px;
    }
  }

  .order-step-list {
    padding-left: 0;
  }

  .order-step {
    padding: 0 0 40px 0;
    border: none;

    &:before {
      left: 0;
    }

    &__title {
      padding: 4px 0 0 40px;
      font-size: 18px;
    }
  }

  .order-tabs {
    flex-wrap: wrap;
  }

  .order-tab {
    margin-bottom: 8px;
    margin: 5px;
  }

  .tabs-method .order-tab__btn {
    padding: 20px;
    font-size: 16px;

    img {
      height: 28px;
    }
  }

  .order-fields {
    flex-wrap: wrap;
  }

  .order-field {
    width: 100%;
    margin: 5px 6px;

    .input {
      padding: 25px 20px;
    }

    .input.input-empty {
      padding: 25px 20px;
    }

    .input {
      padding: 35px 20px 15px;
    }

    .input-label {
      top: 27px;
    }

    .input:valid + .input-label {
      top: 15px;
    }

    .input:required ~ .input-icon:before {
      top: 27px;
      font-size: 17px;
    }
  }

  .input-select~.input-icon:after {
    top: 34px;
  }

  .select-pickup-address {
    position: static;
    padding: 0;
    border: none;
    background: transparent;

    .pickup__button {
      margin: 5px 0 0 0;
    }
  }

  .order-confirm {
    margin-top: 30px;
  }

  .order-agree {
    margin: 20px 0 0 0;
    font-size: 12px;
  }

  .order-total {
    padding: 0;
    margin-bottom: 40px;
    border: none;

    &__title {
      padding-bottom: 15px;
      margin-bottom: 15px;

      font-size: 24px;
    }

    &__number {
      font-size: 24px;
    }

    &__table th,
    &__table td {
      width: 50%;
      padding-bottom: 10px;
      font-size: 12px;
    }

    .pickup__button {
      margin-left: 0;
    }
  }
}