.site-nav {
  border-bottom: 1px solid #DAE1E7;

  &__btn {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-right: 1px solid #DAE1E7;
  }

  &__list {
    display: flex;

    list-style: none;

    li {
      position: relative;

      display: flex;
      // justify-content: center;
      align-items: center;

      padding: 12px 14px 12px 0;
      margin-right: 10px;

      font-size: 13px;
      color: #000000;
      opacity: 0.8;
      
      &:hover {
        opacity: 0.5;
      }
    }

    li:last-child {
      margin-right: 0;
    }

    li:not(:last-child):after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;

      vertical-align: middle;
      background: #013977;
      transform: translateY(-50%);
    }
  }

  &__contacts {
    display: flex;
    list-style: none;

    li {
      position: relative;
      padding: 12px 12px 12px 38px;
      border-left: 1px solid #DAE1E7;

      // line-height: 39px;
      font-size: 13px;
      font-weight: 500;
      color: #012449;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__wa {
    width: 240px;
  }
    
  &__email:before,
  &__wa:before {
    content: "";
    position: absolute;
    left: 15px;

    display: inline-block;
    margin-right: 5px;

    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  &__email:before {
    width: 18px;
    height: 16px;
    background-image: url("../images/icon-email.svg");
  }

  &__wa:before {
    width: 16px;
    height: 16px;
    background-image: url("../images/icon-wa.svg");
  }
}


@media (max-width: 768px) {
  .site-nav {
    display: none;
  }

  .site-nav__btn {
    position: relative;

    display: block;
    width: 60px;
    height: 52px;
    margin-left: auto;

    background: #025BB1;
    border: none;
    z-index: 4;
  }

  .site-nav__btn-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: block;
    width: 18px;
    height: 2px;
    margin: auto;
    background-color: #fff;
    pointer-events: none;

    &:before, &:after {
      content: "";

      display: block;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:before {
      margin: -7px 0 5px 0;
    }

    &:after {
      margin: 12px 0 0 0;
    }
  }

  .site-nav--open {
    display: block;
    width: 100%;

    position: absolute;
    top: 110px;

    border: none;
    background: #FCFCFD;
    border: 1px solid #DAE1E7;
    border-radius: 0 0 15px 15px;
    z-index: 2;

    .site-nav__inner {
      flex-wrap: wrap;
      border: none;
    }

    .site-nav__list {
      // display: block;
      flex-direction: column;
      flex-wrap: wrap;

      width: 100%;
      max-height: 190px;
      padding: 30px 0;
      margin: 0 10px 30px;

      border-bottom: 1px solid #DAE1E7;
      columns: 2;

      li {
        width: calc(50% - 15px);
        padding: 10px 0;

        font-size: 14px;
        border: none;
      }

      li:after {
        display: none;
      }
    }

    .site-nav__contacts {
      display: block;
      margin: 0 10px;
      padding-bottom: 20px;

      li {
        display: inline-block;
        width: auto;
        margin-bottom: 10px;

        border: 2px solid rgba(2, 91, 177, 0.3);
        border-radius: 10px;
      }
    }
  }
}


@media (max-width: 360px) {

  .site-nav--open {
    .site-nav__list {
      max-height: 220px;
    }
  }
}

@media (max-width: 320px) {

  .site-nav__btn {
    width: 55px;
  }
}