<div class="accessories">
  <!-- <h2 class="title title--underline">С аксессуарами дешевле</h2> -->
  <h3 class="title">Скидка 10% на все аксессуары</h3>
  <span class="promo-data">Длительность акции: 7 – 31 августа</span>
  <p class="promo-text">При единовременной покупке устройства (смартфоны, планшеты, ноутбуки и так далее) и аксессуаров, на аксессуары стоимостью до 3000 ₽ распространяется скидка 10%.</p>

  <ul class="accessories-tabs-list">
    <li>Все аксессуары</li>
    <li class="active">Наушники и гарнитуры</li>
    <li>Док станции и кабели</li>
    <li>Bluetooth-гарнитуры</li>
    <li>Зарядные устройства</li>
    <li>Портативные колонки</li>
  </ul>
  <div class="accessories-tabs-container">
    <div class="accessories-tab">
      <div class="product-list">
        <div class="product-item">
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <div class="product-bonus">
                <span class="product-bonus__title">AT-Бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </div>
              <div class="popup popup--bonus">
                <button class="popup__close">Закрыть</button>
                <h4 class="popup__title">АТ-Бонус</h4>
                <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
                <a href="#" class="button button--fill">Подробнее</a>
              </div>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket">В корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <div class="product-bonus">
                <span class="product-bonus__title">AT-Бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </div>
              <div class="popup popup--bonus">
                <button class="popup__close">Закрыть</button>
                <h4 class="popup__title">АТ-Бонус</h4>
                <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
                <a href="#" class="button button--fill">Подробнее</a>
              </div>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket">В корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <div class="product-bonus">
                <span class="product-bonus__title">AT-Бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </div>
              <div class="popup popup--bonus">
                <button class="popup__close">Закрыть</button>
                <h4 class="popup__title">АТ-Бонус</h4>
                <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
                <a href="#" class="button button--fill">Подробнее</a>
              </div>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket">В корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <div class="product-bonus">
                <span class="product-bonus__title">AT-Бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </div>
              <div class="popup popup--bonus">
                <button class="popup__close">Закрыть</button>
                <h4 class="popup__title">АТ-Бонус</h4>
                <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
                <a href="#" class="button button--fill">Подробнее</a>
              </div>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket">В корзину</button>
            </div>
          </div>
        </div>
      </div>
      <button class="button button--more">Показать еще</button>
    </div>
  </div>
</div>