<div class="accessories">
  <h3 class="title">Скидка на аксессуары 10%</h3>
  <span class="promo-data">Длительность акции: 7 – 31 августа</span>
  <p class="promo-text">При покупке устройства вместе с аксессуарами дарим скидку 10% на все аксессуары дешевле 3000 ₽</p>
  <div class="dropdown">
    <button class="dropdown-toggle">Все аксессуары</button>
    <ul class="dropdown-menu accessories-tabs-list">
      <li>Все аксессуары</li>
      <li class="active">Наушники и гарнитуры</li>
      <li>Док станции и кабели</li>
      <li>Bluetooth-гарнитуры</li>
      <li>Зарядные устройства</li>
      <li>Портативные колонки</li>
    </ul>
  </div>
  <div class="accessories-tabs-container">
    <div class="accessories-tab">
      <div class="product-list">
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
        <div class="product-item">
          <div class="user-nav">
            <button class="user-link user-toggle user-link--compare">
              @@include('../images/icon-compare.svg')
              Добавить к сравнению
            </button>
            <button class="user-link user-toggle user-link--fav">
              @@include('../images/icon-fav.svg')
              Добавить в избранное
            </button>
          </div>
          <div class="product-item__img">
            <a class="product-item-img-link" href="#">
              <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
            </a>
          </div>
          <div class="product-item__inner">
            <div class="product-rating">
              <div class="value" style="width: 80%;"></div>
            </div>
            <span class="product-votes">34 отзыва</span>
            <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
            <div class="product-color">
              Цвета:
              <label>
                <input type="radio" name="product-color">
                <span class="product-color__button" style="background-image: url('/images/color/black.svg');"></span>
              </label>
            </div>
            <div class="product-bonus-wrapper">
              <button class="product-bonus" data-toggle="popup" data-target="popup--bonus">
                <span class="product-bonus__title">at-бонус</span>
                <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
              </button>
            </div>
            <div class="product-item__bottom">
              <p class="product-item__price">
                24 640 <span class="ruble">₽</span>
              </p>
              <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
            </div>
          </div>
        </div>
      </div>
      <button class="button button--more">Показать еще</button>
    </div>
  </div>
</div>