<footer class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__inner">
        <ul class="footer__col footer-categories">
          <li><a href="#">Мобильная электроника</a></li>
          <li><a href="#">Аудио- и видеотехника</a></li>
          <li><a href="#">Умный дом</a></li>
          <li><a href="#">Игры и развлечения</a></li>
          <li><a href="#">Компьютерная техника</a></li>
          <li><a href="#">Авто- вело- мото- электроника</a></li>
          <li><a href="#">Персональный транспорт</a></li>
          <li><a href="#">Товары для здоровья и СИЗ</a></li>
        </ul>
        <ul class="footer__col footer-nav">
          <li><a href="/">Главная</a></li>
          <li><a href="/promo.html">Акции</a></li>
          <li><a href="/delivery.html">Доставка и оплата</a></li>
          <li><a href="/garant.html">Гарантия и ремонт</a></li>
          <li><a href="/about.html">О компании</a></li>
          <li><a href="/news.html">Новости</a></li>
          <li><a href="/contacts.html">Контакты</a></li>
        </ul>
        <div class="footer__col">
          <div class="footer__block">
            <h4 class="footer__title">Режим работы</h4>
            <div>
              <span class="footer__days">Будние дни</span>
              <span class="footer__time">10:00 – 20:00</span>
            </div>
            <div>
              <span class="footer__days">Выходные и праздники</span>
              <span class="footer__time">11:00 – 19:00</span>
            </div>
          </div>
          <div class="footer__block">
            <h4 class="footer__title">Пункт самовывоза</h4>
            <address class="footer__address">Загородный пр., д. 30/2
              <span>напротив ресторана Mama Roma</span>
            </address>
          </div>
          <div class="footer__block">
            <h4 class="footer__title">Мы в соцсетях</h4>
            <ul class="footer__social">
              <li><a class="footer__social-link footer__social-link--vk" href="#">Вконтакте</a></li>
              <li><a class="footer__social-link footer__social-link--fb" href="#">Facebook</a></li>
              <li><a class="footer__social-link footer__social-link--tw" href="#">Twitter</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__block">
            <h4 class="footer__title">Телефоны в Санкт-Петербурге</h4>
            <a href="tel:+78127704799" class="footer__tel">+7 (812) 770-47-99</a>
            <a href="tel:+79217507881" class="footer__tel">+7 (921) 750-78-81</a>
          </div>
          <div class="footer__block footer__contacts">
            <a href="#" class="footer__contact footer__contact--email">
              @@include('../images/icon-email.svg')
              Напишите нам на <span>Email</span>
            </a>
            <a href="#" class="footer__contact footer__contact--wa">
              @@include('../images/icon-wa.svg')
              Напишите нам в <span>WhatsApp</span>
            </a>
          </div>
          <a class="footer-yandex-stars" href="https://market.yandex.ru/shop--advanced-technology/42583/reviews" target="blanc">
            <img class="lazyload" data-src="images/yandex-rate.svg" alt="Отзывы на Яндекс.Маркет">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__inner">
        <p class="footer__copy">© 2015–2020 Advanced Technology</p>
        <a href="#" class="footer__politics">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>

<!-- попап at-бонус -->
<div class="popup popup--bonus">
  <button class="popup__close">Закрыть</button>
  <h4 class="popup__title">at-бонус</h4>
  <p class="popup__text">Копите at-бонусы и расплачивайтесь ими по курсу 1 бонус = 1 ₽</p>
  <a href="#" class="button">Подробнее</a>
</div>

<!-- попап Купить в 1 клик -->
<div class="popup popup--one-click">
  <button class="popup__close">Закрыть</button>
  <h4 class="popup__title">Купить в 1 клик</h4>
  <p class="popup__text">Заполните данные и мы перезвоним вам, чтобы подтвердить заказ.</p>
  <p class="popup__text-info">При покупке в 1 клик at-бонусы не начисляются</p>

  <form>
    <input type="email" class="input" placeholder="Введите ваше имя">
    <input type="tel" class="input" placeholder="Введите ваш телефон">
    <a href="#" class="button button--fill">Купить в 1 клик</a>

    <div class="popup__product-line">
      <img class="product-img" src="images/products/amazfit-thumb.png" alt="Смарт-часы Amazfit GTS A1914">
      <div class="">
        <a target="_blank" href="#" class="product-name">Смарт-часы Amazfit GTS A1914</a>
        <span class="product-price">
          8 570 <span class="ruble">₽</span>
        </span>
      </div>
    </div>
  </form>
</div>

<!-- попап Бесплaтная доставка -->
<div class="popup popup--delivery-free">
  <button class="popup__close">Закрыть</button>
  <h4 class="popup__title">Бесплaтная доставка по Санкт-Петербургу</h4>
  <p class="popup__text">Для данного товара</p>
</div>

<!-- попап Уведомить о поступлении товара -->
<div class="popup popup--remind">
  <form>
    <button class="popup__close">Закрыть</button>
    <h4 class="popup__title">Напомним о поступлении товара</h4>
    <p class="popup__text">Как только товар будет доступен для заказа, вы получите уведомление на email</p>
    <input type="email" class="input" placeholder="Введите Email">
    <button type="submit" class="button button--fill">Уведомить</button>
  </form>
</div>