<div class="product-list">
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image1.png" alt="Фитнес-браслет Xiaomi Mi Band 4">
      </a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 80%;"></div>
      </div>
      <span class="product-votes">4 отзыва</span>
      <a href="#" class="product-item__title">Фитнес-браслет<br>Xiaomi Mi Band 4</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/blue.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/red.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/orange.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">149 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          1 490 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image2.png" alt="Смартфон Huawei Honor 20 Lite 4/128Gb">
      </a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 80%;"></div>
      </div>
      <span class="product-votes">12 отзывов</span>
      <a href="#" class="product-item__title">Смартфон Huawei Honor 20 Lite 4/128Gb</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/blue.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/white.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/violet.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">143 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          14 390 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image3.png" alt="Беспроводные наушники Xiaomi Redmi AirDots">
      </a>
      <a href="#" class="label-gift" title="Подарок при покупке"></a>
      <a href="#" class="label-delivery-free" title="Бесплатная доставка">Доставка 0₽</a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 80%;"></div>
      </div>
      <span class="product-votes">34 отзыва</span>
      <a href="#" class="product-item__title">Беспроводные наушники Xiaomi Redmi AirDots</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">125 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          <span class="price-old">
            <span class="bk_price">2 990</span>
            <span class="ruble">₽</span>
            <span class="price-sale">-10%</span>
          </span>
          24 640 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image4.png" alt="Смартфон ZTE Blade A7 (2020)">
      </a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 40%;"></div>
      </div>
      <span class="product-votes">8 отзывов</span>
      <a href="#" class="product-item__title">Смартфон ZTE Blade A7 (2020)</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/blue.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">73 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          7 390 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket added" title="В корзине">В корзине</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image5.png" alt="Беспроводные наушники Realme Buds Air">
      </a>
      <a href="#" class="label-delivery-free" title="Бесплатная доставка">Доставка 0₽</a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 100%;"></div>
      </div>
      <span class="product-votes">8 отзывов</span>
      <a href="#" class="product-item__title">Беспроводные наушники Realme Buds Air</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/white.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">128 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          4 290 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image6.png" alt="Электросамокат Xiaomi Mi Electric Scooter 1S">
      </a>
      <a href="#" class="label-gift" title="Подарок при покупке"></a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 80%;"></div>
      </div>
      <span class="product-votes">11 отзывов</span>
      <a href="#" class="product-item__title">Электросамокат Xiaomi Mi Electric Scooter 1S</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/white.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">190 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          27 270 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket added" title="В корзине">В корзине</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image7.png" alt="Смартфон Xiaomi Mi 10 8/256Gb">
      </a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 60%;"></div>
      </div>
      <span class="product-votes">5 отзывов</span>
      <a href="#" class="product-item__title">Смартфон Xiaomi Mi 10 8/256Gb</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/green.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">386 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          55 170 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image8.png" alt="Смарт-часы Amazfit GTS A1914">
      </a>
      <a href="#" class="label-gift" title="Подарок при покупке"></a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 0%;"></div>
      </div>
      <span class="product-votes">нет отзывов</span>
      <a href="#" class="product-item__title">Смарт-часы Amazfit GTS A1914</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color" checked>
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/green.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/violet.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/yellow.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/white.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">85 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          8 570 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket added" title="В корзине">В корзинe</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
  <div class="product-item">
    <div class="product-item__img">
      <a class="product-item-img-link" href="/product-card.html">
        <img class="lazyload" data-src="images/products/image1.png" alt="Фитнес-браслет Xiaomi Mi Band 4">
      </a>
    </div>
    <div class="product-item__inner">
      <div class="product-rating">
        <div class="value" style="width: 80%;"></div>
      </div>
      <span class="product-votes">4 отзыва</span>
      <a href="#" class="product-item__title">Фитнес-браслет<br>Xiaomi Mi Band 4</a>
      <div class="product-color">
        Цвета:
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/black.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/blue.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/red.svg');"></span>
        </label>
        <label>
          <input type="radio" name="product-color">
          <span class="product-color__button" title="Цвет: " style="background-image: url('/images/color/orange.svg');"></span>
        </label>
      </div>
      <div class="product-bonus-wrapper">
        <div class="product-bonus">
          <span class="product-bonus__title">AT-Бонус</span>
          <strong class="product-bonus__value">149 <span class="ruble">₽</span></strong>
        </div>
        <div class="popup popup--bonus">
          <button class="popup__close">Закрыть</button>
          <h4 class="popup__title">АТ-Бонус</h4>
          <p class="popup__text">Копите АТ-Бонусы и расплачивайтесь ими как реальными деньгами по курсу 1 бонус = 1 ₽.</p>
          <a href="#" class="button">Подробнее</a>
        </div>
      </div>
      <div class="product-item__bottom">
        <p class="product-item__price">
          1 490 <span class="ruble">₽</span>
        </p>
        <div class="user-nav">
          <a href="#" class="user-link user-link--compare">
            @@include('../images/icon-compare.svg')
            Добавить к сравнению
          </a>
          <a href="#" class="user-link user-link--fav">
            @@include('../images/icon-fav.svg')
            Добавить в избранное
          </a>
        </div>
        <button class="button button--basket" title="Добавить в корзину">Добавить в корзину</button>
        <a class="button button--one-click" href="#">Купить в 1 клик</a>
      </div>
    </div>
  </div>
</div>

<div class="popup popup--one-click">
  <button class="popup__close">Закрыть</button>
  <h4 class="popup__title">Купить в 1 клик</h4>
  <p class="popup__text">Заполните данные и мы перезвоним вам, чтобы подтвердить заказ.</p>
  <p class="popup__text-info">При покупке в 1 клик АТ-Бонусы не сохраняются</p>

  <form>
    <input type="email" class="input" placeholder="Введите ваше имя">
    <input type="tel" class="input" placeholder="Введите ваш телефон">
    <a href="#" class="button button--fill">Купить в 1 клик</a>

    <div class="popup__product-line">
      <img class="product-img" src="images/products/amazfit-thumb.png" alt="Смарт-часы Amazfit GTS A1914">
      <div class="">
        <a target="_blank" href="#" class="product-name">Смарт-часы Amazfit GTS A1914</a>
        <span class="product-price">
          8 570 <span class="ruble">₽</span>
        </span>
      </div>
    </div>
  </form>
</div>

<div class="popup popup--gift">
  <button class="popup__close">Закрыть</button>
  <h4 class="popup__title">Подарок при покупке</h4>
  <div class="popup__product-line">
    <img class="product-img" src="images/products/amazfit-thumb.png" alt="Смарт-часы Amazfit GTS A1914">
    <div class="">
      <a target="_blank" href="#" class="product-name">Смарт-часы Amazfit GTS A1914</a>
      <span class="product-price"><span class="price-old">
        <span class="bk_price">2 990</span>
          <span class="ruble">₽</span>
          <span class="price-sale">-100%</span>
        </span>
        0 <span class="ruble">₽</span>
      </span>
    </div>
  </div>
</div>

<div class="popup popup--delivery-free">
  <button class="popup__close">Закрыть</button>
  <h4 class="popup__title">Бесплатная доставка по Санкт-Петербургу</h4>
  <p class="popup__text">Для данного товара</p>
</div>